.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 770px;
  height: 777px;
  margin-top: 20px;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.ButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
