.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}


.ContentContainer {
  width: 100%;
}

.Header {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 50px;
}

.Author {
  font-size: 15px;
  margin: 0;
}

.Ingredients {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 50px;
}

.Directions {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 50px;
}
